<div class="movie">
<div class="center"><h1><%= movieData.Title %></h1></div>
<div class="poster"><img src="<%= movieData.Poster %>"></div>
<div  style="display:inline-block;">
	<h3 class="center">
	(<%= movieData.Year %>)
	</h3>
	<h4 class="center"> Starring: <%= movieData.Actors %> </h4>
		<h4 class="center"> Directed By: <%= movieData.Director %> </h4>
	<p><%= movieData.Plot %></p>
	</div>
<br>
<a href="javascript:history.back()">Back to results</a>
</div>